.dropdown {
	position: relative;
	display: inline-block;
	text-align: center;
}
#diff {
	width: 150px;
}
.dropdown-menu {
	display: none;
	position: absolute;
	width: 300px;
	height: 50px;
	background-color: #f9f9f9;
}
.dropdown-menu a {
	color:black;
	padding: 12px 16px;
	display: block;
	border: 1px dotted;
}
.dropdown-menu a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-menu {
	display: block;
}
h2 {
	text-align: center;
	display: block;
}
.dropdown:hover h2 {
	display: none;
}
.dropdown-submenu {
	position: relative;
}
#drop2 {
	color: #4682b4;
	
}
#drop1 {
	padding: 12px 16px;
}
